<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="STSC_app.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="STSC_app.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <STSC_app.AppSettings>
            <setting name="Theme" serializeAs="String">
                <value>System</value>
            </setting>
            <setting name="IsTermsAgreed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableAutoUpdate" serializeAs="String">
                <value>False</value>
            </setting>
        </STSC_app.AppSettings>
        <STSC_app.Settings>
            <setting name="Theme" serializeAs="String">
                <value>System</value>
            </setting>
        </STSC_app.Settings>
    </userSettings>
</configuration>